.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
}

.card{
    background-color: red;
    padding: 1rem;
    border-radius: .5rem;
    text-align: center;
    color: white;
}
