*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 700px;
    margin: 20px;
    padding: 20px;
    border: 1px solid;
    background: rgb(224, 224, 224);
    
}

.main__link{
    position: relative;
    text-decoration: none;
    cursor: pointer;
}

.main__link::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 3px;
    background-color: green;
    transition: with 0.3s;

}

.main__link:hover::after{
    width: 10%;
}

.main__img{
    margin-top: 30px;
    width: 60%;
}

.main__secondary{
    margin: 10px 0 10px;
    font-size: 22px;
}

.main_time{
    margin-bottom: 10px;
    font-size: 14px;
    color: rgb(133, 133, 133);
}
