.container{
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid black;
}

.item{
    background-color: green;
    color: yellow;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 2px solid yellow;
}